<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Declarative\Schema\Api\Data\PostInterface"
                type="Declarative\Schema\Model\Post"/>

    <preference for="Declarative\Schema\Api\PostRepositoryInterface"
                type="Declarative\Schema\Model\PostRepository"/>

    <preference for="Declarative\Schema\Api\Data\PostSearchResultInterface"
                type="Magento\Framework\Api\SearchResults" />
</config>