<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <modify_product2>
            <general>
                <enable3>1</enable3>
                <base_price>1</base_price>
                <final_price>0</final_price>
                <special_price>0</special_price>
                <tier_price>0</tier_price>
                <catalog_rule_price>0</catalog_rule_price>
            </general>
        </modify_product2>
    </default>
</config>