<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <topanokpayment>
                <payment_action>capture</payment_action><!-- You can use another method like capture  -->
                <model>Payment\TopanokPay\Model\PaymentMethod</model>
                <active>1</active>
                <title>Topanok Payment</title>
                <order_status>pending_payment</order_status><!-- set default order status-->
            </topanokpayment>
        </payment>
    </default>
</config>